/* Card design */
.backend-card {
    position: relative;
    padding: 12px 15px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

/* Backend Header */
.page-head-filler {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page-name {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.page-current-window {
    font-family: 'Nunito', sans-serif;
}

/* Each card head */
.backend-card-head {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
}

/* Score to Odds Section */
.backend-odds {
    width: 100%;
}

.backend-odds-chart {
    width: 100%;
}

.backend-odds-text-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.backend-odds-dev-rate {
    color: #00aaff;
}

.backend-odds-cur-rate {
    color: #006699;
}

/* Character analysis section */
.backend-char-analysis-wrapper {
    width: 100%;
}

.char-analysis-chart {
    width: 100%;
}

/* Scorecard performance */
.backend-perf {
    width: 100%;
}

.backend-perf-gini-wrapper,
.backend-perf-ks-wrapper {
    width: 50%;
}

.backend-perf-gini {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.backend-perf-ks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.backend-perf-gini-head,
.backend-perf-ks-head {
    font-size: 18px;
}

.backend-perf-gini-ks-thumb-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.gini-ks-value {
    font-size: 22px;
    color: #4c4c4c;
    width: 30%;
}

.gini-ks-note-text {
    font-size: 15px;
    padding-left: 10px;
}

/* Vintage analysis section */
.backend-vintage-analysis-wrapper {
    width: 100%;
}

.vintage-analysis-chart {
    width: 100%;
}

.vintage-analysis-chart-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.backend-vintage-30-head,
.backend-vintage-60-head {
    font-size: 16px;
}
