/* Card design */
.backend-card {
    position: relative;
    padding: 12px 15px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

/* Backend Header */
.page-head-filler {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page-name {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.page-current-window {
    font-family: 'Nunito', sans-serif;
}

/* Each card head */
.backend-card-head {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
}

/* Score to Odds Section */
.backend-odds {
    width: 100%;
}

.backend-odds-chart {
    width: 100%;
}

.backend-odds-text-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.backend-odds-dev-rate {
    color: #00aaff;
}

.backend-odds-cur-rate {
    color: #006699;
}

/* Character analysis section */
.backend-char-analysis-wrapper {
    width: 100%;
}

.char-analysis-select-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.char-analysis-select {
    border: 0;
    border-bottom: 2px solid #2e3d49;
}

.char-analysis-chart {
    width: 100%;
}

/* Scorecard performance */
.backend-perf {
    width: 100%;
}

.backend-perf-gini-wrapper,
.backend-perf-ks-wrapper {
    width: 50%;
}

.backend-perf-gini {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.backend-perf-ks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.backend-perf-gini-head,
.backend-perf-ks-head {
    font-size: 18px;
}

.backend-perf-gini-ks-thumb-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.gini-ks-value {
    font-size: 22px;
    color: #4c4c4c;
    width: 30%;
}

.gini-ks-note-text {
    font-size: 15px;
    padding-left: 10px;
}

/* Vintage analysis section */
.backend-vintage-analysis-wrapper {
    width: 100%;
}

.vintage-analysis-chart {
    width: 100%;
}

.vintage-analysis-chart-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.backend-vintage-30-head,
.backend-vintage-60-head {
    font-size: 16px;
}

.vintage-analysis-chart-wrapper:last-of-type {
    margin-top: 25px;
}

/* Tables */
.vintage-analysis-table {
    width: 100%;
    font-size: 14px;
}

.show-table-graph-btn {
    float: right;
    border: none;
    color: #fff;
    background: #02b3e4;
    border: 2px solid #02b3e4;
    border-radius: 2px;
    padding: 5px 10px;
    -webkit-box-shadow: 1px 1px 5px #9c9c9c;
    box-shadow: 1px 1px 5px #9c9c9c;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.char-analysis-table-wrapper {
    width: 100%;
}

.char-analysis-table {
    width: 100%;
}

.odds-table-wrapper {
    width: 100%;
}

.odds-table {
    width: 100%;
}

.vintage-analysis-table,
.char-analysis-table,
.odds-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.vintage-analysis-table td,
.vintage-analysis-table th,
.char-analysis-table td,
.char-analysis-table th,
.odds-table td,
.odds-table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.vintage-analysis-table tr:nth-child(odd),
.char-analysis-table tr:nth-child(odd),
.odds-table tr:nth-child(odd) {
    background-color: #ececec;
}

.vintage-analysis-table-head {
    font-size: 13px;
    font-weight: bold;
    color: #464646;
}

.vintage-cell-head {
    font-size: 13px;
    font-weight: bold;
    color: #464646;
}

.char-analysis-table tr.char-analysis-table-head,
.odds-table tr.odds-table-head {
    font-size: 14px;
    font-weight: bold;
    color: #464646;
    background: #fff;
}
