/* Card design */
.frontend-card {
    position: relative;
    padding: 12px 15px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

/* Frontend Header */
.page-head-filler {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page-name {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.page-current-window {
    font-family: 'Nunito', sans-serif;
}

/* Each card head */
.frontend-card-head {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
}

/* Gini - PSI Section */
.frontend-psi {
    width: 100%;
}

/* PSI Section */
.psi-gauge-chart-table-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.psi-gauge-legend {
    width: 30%;
}

.psi-gauge-chart {
    width: 55%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.psi-gauge-table {
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.psi-gauge-table-head {
    text-align: left;
    background: #e6e6e6;
}

.psi-gauge-table-head th {
    /*font-weight: normal;*/
    color: #656565;
}

.psi-gauge-table-cell {
    text-align: left;
    font-size: 14px;
    background: #f2f2f2;
    height: 50px;
}

/* Population stability radial section */
.frontend-psi-radial {
    width: 100%;
}

.frontend-population-stability {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.frontend-population-radial {
    width: 20%;
}
