/* Card design */
.frontend-card {
    position: relative;
    padding: 12px 15px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

/* Frontend Header */
.page-head-filler {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page-name {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.page-current-window {
    font-family: 'Nunito', sans-serif;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

/* Each card head */
.frontend-card-head {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
}

/* PSI Section */
.frontend-psi {
    width: 100%;
}

.frontend-psi-gauge-chart-table-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.frontend-psi-gauge-legend {
    width: 30%;
}

.frontend-psi-gauge-chart {
    width: 55%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.frontend-psi-gauge-table {
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.frontend-psi-gauge-table-head {
    text-align: left;
    background: #e6e6e6;
}

.frontend-psi-gauge-table-head th {
    /*font-weight: normal;*/
    color: #656565;
    padding-left: 10px;
}

.frontend-psi-gauge-table-cell {
    text-align: left;
    font-size: 14px;
    background: #f2f2f2;
    height: 50px;
}

.frontend-psi-gauge-table-cell td {
    padding-left: 10px;
}

/* Population stability radial section */
.frontend-psi-radial {
    width: 100%;
}

.frontend-population-stability {
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.frontend-population-radial {
    width: 20%;
}

.population-radial-legend {
    position: relative;
    top: -10px;
    text-align: center;
    font-size: 14px;
}

.frontend-pop-legend-wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.frontend-pop-legend {
    padding-right: 25px;
    font-size: 15px;
    color: #3a3a3a;
}

.pop-cur-bullet {
    color: #006699;
}

.pop-dev-bullet {
    color: #00aaff;
}

/* Character Analysis section */
.frontend-char-analysis-wrapper {
    width: 100%;
}

.char-analysis-select-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

.char-analysis-select {
    border: 0;
    border-bottom: 2px solid #2e3d49;
}

.char-analysis-scorecard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 130px;
    width: 110px;
    text-align: center;
    padding: 5px;
    margin: 0 25px 20px 0;
    border-radius: 0 5px;
    -webkit-box-shadow: 1px 1px 3px #a7a7a7;
    box-shadow: 1px 1px 3px #a7a7a7;
}

.char-analysis-scorecards-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Frontend final report section */
.frontend-final-report-wrapper {
    width: 100%;
}


.show-table-graph-btn {
    float: right;
    border: none;
    color: #fff;
    background: #02b3e4;
    border: 2px solid #02b3e4;
    border-radius: 2px;
    padding: 5px 10px;
    -webkit-box-shadow: 1px 1px 5px #9c9c9c;
    box-shadow: 1px 1px 5px #9c9c9c;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* Tables */
.char-analysis-table,
.population-radial-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.char-analysis-table td,
.char-analysis-table th,
.population-radial-table td,
.population-radial-table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.char-analysis-table tr:nth-child(odd),
.population-radial-table tr:nth-child(odd) {
    background-color: #ececec;
}

.char-analysis-table tr.char-analysis-table-head,
.population-radial-table tr.population-radial-table-head {
    font-size: 14px;
    font-weight: bold;
    color: #464646;
    background: #fff;
}
