/* Card design */
.overview-card {
    position: relative;
    padding: 12px 15px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

/* Overview line area chart */
.overview-gains-chart {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

/* Overview Header */
.page-head-filler {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page-name {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.page-current-window {
    font-family: 'Nunito', sans-serif;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

/* Each card head */
.overview-card-head {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
}

/* Model details section */
.model-detail-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.model-detail-img {
    position: relative;
}

.model-detail-img-text {
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 14px;
    color: #fff;
}

.overview-model-img {
    width: 150px;
}

.model-detail-text {
    font-size: 15px;
}

.model-detail-text-row {
    padding: 3px 0;
}

.detail-text-row-left {
    display: inline-block;
    width: 170px;
}

.overview-download,
.overview-share {
    border: none;
    color: #fff;
    background: #02b3e4;
    border: 2px solid #02b3e4;
    border-radius: 2px;
    padding: 5px 10px;
    -webkit-box-shadow: 1px 1px 5px #9c9c9c;
    box-shadow: 1px 1px 5px #9c9c9c;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.overview-download {
    margin-bottom: 7px;
}

.overview-download:hover,
.overview-share:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    color: #02b3e4;
}

@media screen and (min-width: 1030px) {
    .model-detail-content {
        width: 80%;
    }
}

/* Gini - PSI Section */
.overview-gini-psi-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.overview-gini {
    width: 39%;
}

.overview-psi {
    width: 60%;
}

/* PSI Section */
.overview-psi-gauge-legend {
    width: 25%;
}

.overview-psi-gauge-chart {
    width: 75%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.overview-psi-gauge-table {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.overview-psi-gauge-table-head {
    text-align: left;
    background: #e6e6e6;
}

.overview-psi-gauge-table-head th {
    /*font-weight: normal;*/
    color: #656565;
}

.overview-psi-gauge-table-cell {
    text-align: left;
    font-size: 14px;
    background: #f2f2f2;
    height: 50px;
}

/* Gini Section */
.gini-chart-wrapper {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.gini-value {
    font-size: 24px;
    color: #4c4c4c;
}

.gini-note-text {
    font-size: 15px;
    padding-left: 10px;
}

/* Trade-Off Curve Section */
.tradeoff-chart {
    width: 100%;
}
