.overview-card {
    position: relative;
    padding: 12px 15px;
    background: #fff;
    border-radius: 6px;
    margin-bottom: 12px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
}

.overview-gains-chart {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

.page-head-filler {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.page-name {
    font-family: 'Nunito', sans-serif;
}

.page-current-window {
    font-family: 'Nunito', sans-serif;
}

.overview-card-head {
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
